<% @posts.each do |post| %>
  <div>
    <h4>
      <%= post.title %>
      <% if user_signed_in? %>
        <%= "-" + post.user.email %>
      <% else %>
        <%= "-Anonymous" %>
      <% end %>
    </h4>
    <p><%= post.body.capitalize %></p>
  </div>
<% end %>
  